img{
    width:300px;
    height:350px; 
}
ul{
    display:flex;
    justify-content: space-around;
    list-style:none; 
}
h1{
    text-align:center;
    background-color:black;
    color: white; 
}
#image{
float:left;
padding: 50px; 
}
#content{
float:right;
}
nav{
background-color: black;
color: white; 
list-style:none; 
}
body{
background-image: url(Images/Background-website-01-1024x687.jpg);
}
nav a:visited, nav a:link{
color:white; 
}
nav a:hover{
background-color: lightblue;
color:black; 
}
#resume{
    display:flex; 
    float:right; 
}